{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="row">
                {% for post in posts %}

                <div class="col-md-4">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.text }}</p>
                    <p>
                        <a class="btn btn-secondary" href="{% url 'post_detail' pk=post.pk %}" role="button">View details
                        &raquo;</a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
